
<div class="forPosition">
    <div class="aboutContainer">
        <div class="aboutTextContainer">
            <div class="headAndSub">
                <h1>About me</h1>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Aliquam animi sint pariatur distinctio repellendus excepturi natus,
                      nihil tempore error accusantium qui adipisci sapiente maiores nobis consequatur
                       provident culpa illum odio!</span>
            </div>
            <div>
                <div class="aboutText">
                    <img src="assets/img/Social_button/bulb desktop.png" alt="">
                    <span>Lorem ipsum dolor sit amet consectetur,
                         adipisicing elit. Nam vel quas, eveniet voluptatum velit
                          ipsam blanditiis dignissimos enim laboriosam optio accusamus 
                          unde porro minima voluptatem et reprehenderit voluptatibus mollitia est.</span>
                </div>
                <div class="aboutText">
                    <img src="assets/img/Social_button/puzzle desktop.png" alt="">
                    <span>Lorem ipsum dolor sit amet consectetur,
                         adipisicing elit. Nam vel quas, eveniet voluptatum velit
                          ipsam blanditiis dignissimos enim laboriosam optio accusamus 
                          unde porro minima voluptatem et reprehenderit voluptatibus mollitia est.</span>
                </div>
            </div>
        </div>
        <div class="pfilePicture">
            <img src="assets/img/Background/Group 2.png" alt="">
            <img src="assets/img/hero character photo.png" alt="">
            
        </div>
    </div>
    <div class="transition">
        <svg width="100%" height="100%" viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
            <path d="M0,224L60,218.7C120,213,240,203,360,197.3C480,192,600,192,720,186.7C840,181,960,171,1080,154.7C1200,139,1320,117,1380,106.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z" fill="#FFF"/>
          </svg>          
    </div>
</div>