 .hero{
    background-color: #141D2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 120px;
        color: #FFF;
        height: 180px;
    }
    h2 {
        font-size: 64px;
        color: #4B47FF;
        height: 80px;
    }
    span {
        transform: rotate(-90deg);
        font-size: 90px;
        color: #FFF;
    }
}

.backgroundImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}