
<div class="skill">
    
<div class="skillContainer">
    <div class="rowSkill">
        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-1.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-2.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-3.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-4.png" alt="">
            <span>Git</span>
        </div>

        
    </div>
    <div class="rowSkill">
        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-5.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-6.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-7.png" alt="">
            <span>Git</span>
        </div>

        
    </div>
    <div class="rowSkill">
        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-8.png" alt="">
            <span>Git</span>
        </div>

        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-9.png" alt="">
            <span>Git</span>
        </div>

        
    </div>
    <div class="rowSkill">
        <div class="skillAtriputt">
            <img src="assets/img/Skills/Icons-1.png" alt="">
            <span>Git</span>
        </div>
    </div>
</div>


<div class="skillDescription">
    <div>
        <h1>Skills</h1>
        <div class="line"></div>
    </div>
    <div class="text">
        <span>I have gained experience in building projects
            with various front end technologies and concepts.</span>
    </div>
    

    <button>Get in touch</button>
</div>
</div>

