<div class="backgroundSkill">
    <div class="transition">
        <svg width="100%" height="100%" viewBox="0 0 1440 160" xmlns="http://www.w3.org/2000/svg">
            <path d="M0,112L60,109.3C120,107,240,101.5,360,98.7C480,96,600,96,720,93.3C840,90.5,960,85.5,1080,77.3C1200,69.5,1320,58.5,1380,53.3L1440,48L1440,160L1380,160C1320,160,1200,160,1080,160C960,160,840,160,720,160C600,160,480,160,360,160C240,160,120,160,60,160L0,160Z" fill="#FFF"/>
        </svg>
                  
    </div>
    
    <div class="skill">
        
    <div class="skillContainer">
        <div class="rowSkill">
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-1.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-2.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-3.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-4.png" alt="">
                <span>Git</span>
            </div>
    
            
        </div>
        <div class="rowSkill">
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-5.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-6.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-7.png" alt="">
                <span>Git</span>
            </div>
    
            
        </div>
        <div class="rowSkill">
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-8.png" alt="">
                <span>Git</span>
            </div>
    
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-9.png" alt="">
                <span>Git</span>
            </div>
    
            
        </div>
        <div class="rowSkill">
            <div class="skillAtriputt">
                <img src="assets/img/Skills/Icons-1.png" alt="">
                <span>Git</span>
            </div>
        </div>
    </div>
    
    
    <div class="skillDescription">
        <div>
            <h1>Skills</h1>
            <div class="line"></div>
        </div>
        <div class="text">
            <span>I have gained experience in building projects
                with various front end technologies and concepts.</span>
        </div>
        
    
        <button>Get in touch</button>
    </div>
    </div>
</div>


