
<div class="protfolioProjects" [ngClass]="customClass">
    <div>
        <img src="assets/img/projects/join photo.png" alt="">
    </div>
    <div class="infoText">
        <div class="text">
            <h1>Join</h1>
            <h2>Angular | TypeScript | HTML | CSS | Firebase</h2>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
        </div>
        <div class="btn">
            <button>Live test</button>
            <button class="btn-Git">Github</button>
        </div>
    </div>
    
</div>
